body {
  background: #ece45ac2;
  cursor: url('../images/tim-cursor.png'), auto;
  font-family: 'IBM Plex Serif', serif;
  margin: 0;
}
.board {
  background: #ffeaea;
  margin: 1em auto;
  height: 30em;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  padding-bottom: 4.5em;
}

.title {
  font-size: 3em;
  margin: auto;
  color: #9d332d;
}

.title-copy {
  margin: 1em auto 0;
  width: 40em;
}

.max-score {
  text-align: center;
  .score {
    width: unset;
  }
}

.welcome-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.score {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  button {
    cursor: url('../images/tim-cursor.png'), auto;
    padding: 0.2em;
    font-size: 2em;
    color: #ae262e;
    background: #e8d7aa;
    border-radius: 5px;
    font-family: 'Major Mono Display', monospace;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: auto;
}

.logo {
  height: 10em;
  display: block;
}

.square {
  width: 19%;
  height: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  .timbit {
    height: 80%;
    transform: translateY(70px);
    transition: all 150ms ease-in;
    &.active {
      transform: translateY(0px);
    }
  }

  // @keyframes active {
  //   0% {
  //     transform: translateY(70px);
  //   }
  //   50% {
  //     transform: translateY(0px);
  //   }
  //   100% {
  //     transform: translateY(70px);
  //   }
  // }

  .tim-hole {
    height: 1em;
    background: #ad1f2d;
    width: 8em;
    border-radius: 50%;
  }
}
